.DS_Store
.tmp
.git
node_modules
bower_components
.settings
*.log
dist/
typings/
www
coverage
platforms
plugins
**/.sass-cache
**/.sass-cache/*
*.apk
.idea
.idea/jsLibraryMappings.xml
client/**/*.js
client/**/*.js.map
client/angularapp/**/*.js
!client/angularapp/common/datepicker/**/*.js
client/angularapp/**/*.js.map
client/corelogic/**/*.js
client/corelogic/**/*.js.map
PhantomJS_2.1.1_(Mac_OS_X_0.0.0)/
Chrome_52.0.2743_(Mac_OS_X_10.11.6)/
Chrome_53.0.2785_(Mac_OS_X_10.11.6)/
testresults
HeavyLook.iml
client/angularapp/
client/corelogic/
